.quizzes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.categories-container {
    width: 500px;
}

.category-box {
    display: grid;
    grid-template-rows: 0.5fr 1fr 2fr;
    grid-template-columns: 1fr 1fr;
    margin: 16px 0;
}

.separator {
    height: 4px;
    width: 100%;
    background: black;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.category-title {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.link-box {
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 8px;
}

.quiz-link {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.delete-quiz-button {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    height: 32px;
}

.new-quiz-container {
    width: 500px;
}

.new-quiz-container > form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.new-quiz-container > form > textarea, select, button {
    margin-bottom: 8px;
}

.new-category-container {
    width: 500px;
}

.new-category-container > form {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.new-category-container  > form > textarea, button {
    margin-bottom: 8px;
}