.quiz-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

tbody, tr, th, td {
    border: 1px solid black;
}

.question-table {
    margin-top: 20px;
    width: 500px;
}

.create-question-container {
    width: 500px;
}

.create-question-container > form {
    display: flex;
    flex-direction: column;
}

.new-answer-container {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
}